<!-- Display the error messages -->
<div id="form-error" style="display: none; color: red;">
  Veuillez remplir tous les champs.
</div>
<div id="send-error" style="display: none; color: red; ">
    Error.
</div>
  
<div class="container">
  <div class="jumbotron">
    <h2>Create a question!</h2>
    <form (ngSubmit)="onSubmit()">
    <div class="form-group has-success">
      <label class="form-control-label">Title</label>
      <input type="text" class="form-control is-valid" [(ngModel)]="question.title" name="title">
    </div>
    <div class="form-group">
      <label>Author</label>
      <textarea class="form-control" rows="3" [(ngModel)]="question.author" name="author"></textarea>
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea class="form-control" rows="3" [(ngModel)]="question.content" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Ajouter le jeu</button>
    </form>
  </div>
</div>
  